<h3>Dear {{name}},</h3>
<p>Your booking has been successfully cancelled.</p>
<p>Cancellation ID: {{cancel_id}}</p>
<p>Refund Details:</p>
<ul>
    <li><strong>Refund To::</strong> {{refund_to}}</li>
    <li><strong>Refund Amount:</strong> {{refund_amount}} {{refund_currency}}</li>
    <li><strong>Order ID:</strong> {{order_id}}</li>
</ul>
If you have any questions, feel free to reach out to us.
</p>
